@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", sans-serif;
  background-color: #e4eef7;
  text-align: center;
  color: #6e7581;
}

.backround-oplan {
  background-image: url("/bg-oplan-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.backround-saude-integral {
  background-image: url("/");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

/* SHAPE DIVIDER BOTTOM HERO */
.custom-shape-divider-bottom-1718660191 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-bottom: -2px; /* Ajuste conforme necessário */
}

/* SHAPE DIVIDER LIDER TOP */
.custom-shape-divider-top-1718665655 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1718665655 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.custom-shape-divider-top-1718665655 .shape-fill {
  fill: #e4eef7;
}
/* SHAPE DIVIDER LIDER BOTTOM */
.custom-shape-divider-bottom-1718665667 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1718665667 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.custom-shape-divider-bottom-1718665667 .shape-fill {
  fill: #e4eef7;
}

@media (max-width: 768px) {
  .custom-shape-divider-top-1718665655 svg {
    height: 40px;
  }
  .custom-shape-divider-bottom-1718665667 svg {
    height: 40px;
  }
}
