@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", sans-serif;
  background-color: #e4eef7;
  text-align: center;
  color: #6e7581;
}

.backround-oplan {
  background-image: url("/bg-oplan-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.backround-saude-integral {
  background-image: url("/");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

/* SHAPE DIVIDER BOTTOM HERO */
.custom-shape-divider-bottom-1718660191 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-bottom: -2px; /* Ajuste conforme necessário */
}

/* SHAPE DIVIDER LIDER TOP */
.custom-shape-divider-top-1718665655 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1718665655 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.custom-shape-divider-top-1718665655 .shape-fill {
  fill: #e4eef7;
}
/* SHAPE DIVIDER LIDER BOTTOM */
.custom-shape-divider-bottom-1718665667 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1718665667 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.custom-shape-divider-bottom-1718665667 .shape-fill {
  fill: #e4eef7;
}

@media (max-width: 768px) {
  .custom-shape-divider-top-1718665655 svg {
    height: 40px;
  }
  .custom-shape-divider-bottom-1718665667 svg {
    height: 40px;
  }
}

/* Animação da Esquerda para a Direita */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInFromLeft 1.5s cubic-bezier(0.07, 0.36, 0.4, 1.06) forwards;
}

.hidden-left {
  opacity: 0;
  transform: translateX(-100%);
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.42, 0, 0.26, 1.14);
  transition-duration: 150ms;
}

/* Animação da Direita para a Esquerda */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Aplica a animação da Direita para a Esquerda */
.slide-in-right {
  animation: slideInFromRight 1.5s cubic-bezier(0.07, 0.36, 0.4, 1.06) forwards;
}

/* Estado inicial invisível à direita */
.hidden-right {
  opacity: 0;
  transform: translateX(100%);
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.42, 0, 0.26, 1.14);
  transition-duration: 150ms;
}

/* Animação de Cima para Baixo */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Aplica a animação de Cima para Baixo */
.slide-in-top {
  animation: slideInFromTop 1.5s cubic-bezier(0.07, 0.36, 0.4, 1.06) forwards;
}

/* Estado inicial invisível no topo */
.hidden-top {
  opacity: 0;
  transform: translateY(-100%);
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.42, 0, 0.26, 1.14);
  transition-duration: 150ms;
}

/* Animação de Baixo para Cima */
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Aplica a animação de Baixo para Cima */
.slide-in-bottom {
  animation: slideInFromBottom 1.5s cubic-bezier(0.07, 0.36, 0.4, 1.06) forwards;
}

/* Estado inicial invisível embaixo */
.hidden-bottom {
  opacity: 0;
  transform: translateY(100%);
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.42, 0, 0.26, 1.14);
  transition-duration: 150ms;
}

/* Aplica a animação com um delay */
.delayed-animation {
  animation-delay: 1.5s; /* Delay de 1.5 segundos */
}
